html, h1 {color: #5b5b5c;}
body {background: #ebebf0;}
a {
    color: inherit;
    text-decoration: none;
}

/*
    Header
*/

header {
    background: #e2dbb1;
    height: 70px;
}
header h1 {margin: 10px;}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header ul li {float: right;}

header ul li a {
    display: block;
    padding: 20px;
}

/*
    Main
*/

h2 {
    margin: 30px 0;
}

.post {
    margin-bottom: 20px;
}


/*
    Sidebar
*/

.section-search {
    margin-top: 30px;
}

.section-topic {
    margin-top: 20px;
}

.sidebar .section-topic ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #000005;
}

.sidebar .section-topic ul li {
    margin-top: 10px ;
}

/*
    Single Post
*/

.single-post .single-post-info {
    margin: 10px 0;
}

.single-post .single-post-info i {
    display: inline-block;
    padding-right: 20px; 
}

/*
    Register
*/

.register h2 {
    text-align: center;
    margin-top: 20px;
}

.register a {
    margin-left: 120px;
}

/*
    Login Form
*/

form div.err p {
    color: red;
}